@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo base profesional */
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}